**/target/*
starts-core/target/
starts-maven-plugin/target/
starts-gradle-plugin/build/
starts-gradle-plugin/.gradle/
.classpath
.project
.settings/
.idea
**/*.iml
**/*~
**/.DS_Store
**/dependency-reduced-pom.xml
